name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: HSThzz
          template: classic
          # Aqui filtramos para aparecer apenas o cabeçalho e as linguagens
          base: header, repositories
          config_timezone: America/Sao_Paulo
          config_theme: tokyonight
          # Configuração das linguagens para ficarem mais compactas
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_limit: 8
