name: Metrics
on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch: 
  push:
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: HSThzz
          template: classic
          base: header, community, repositories, metadata
          config_timezone: America/Sao_Paulo
          # Removi o config_theme e theme daqui
          # Adicionamos plugins específicos que você usa no seu backend
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
